@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap");

:root {
  /* Colors */

  /* Primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /*(graphic design text)*/
  --dark-blue: hsl(198, 62%, 26%) /* (photography text)*/;
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer)*/

  /* Neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --barlow: "Barlow", sans-serif;
  --fraunes: "Fraunces", serif;

  /* Body Copy */
  --font-size: 18px;
}

body {
  margin: 0;
}
.header {
  background-image: url("./images/desktop/image-header.jpg");
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center bottom;
  padding: 2rem 3rem;
  margin: 0;
}
.centered__header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  font-size: 26px;
  letter-spacing: 0.5cm;
}
.centered__header__content h1 {
  margin-bottom: 3rem;
  margin-top: 5rem;
  font-family: var(--fraunes);
  font-weight: 900;
}
.header__ul {
  display: flex;
  align-items: center;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__link {
  margin-left: 2rem;
  display: block;
  color: var(--white);
  text-decoration: none;
  font-family: var(--barlow);
}
.header__contact {
  background-color: var(--white);
  color: var(--very-dark-desaturated-blue);
  border-radius: 2.5rem;
  padding: 0.5rem 2rem;
  font-family: var(--fraunes);
  transition: all 0.6s;
}
.header__contact:hover {
  background-color: rgba(255, 255, 255, 0.241);
  color: var(--white);
}

/* For mobile */
.header__links__modal,
.header__menu {
  display: none;
}
